@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff) format('woff');
}

html, body {
  height: 100%;
  background-size: cover;  
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100%;
  font-size: 62.5%;
  line-height: 1;
  scroll-behavior: smooth;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  margin: 0; /* Reset default body margin */
}

.header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header h1 a {
  text-decoration: none;
  color: white;
  font-family: abster;
  padding-left: 100px;
  font-size: 2.8rem;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-right: 80px;
  font-family: abster;
  font-size: 1rem;
}

.nav ul li {
  margin: 0 10px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  color: #1fdfdf;
}

.navbar_toggleBtn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  margin-top: 30px;
}

.headline {
  position: absolute;
  width: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); */
}

.hero {
  position: static;
  padding: 150px;
  color: white;
  text-align: center;
  font-family: abster;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));;
}

.hero h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.hero p {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 50px;
}

.about {
  position: relative;
  padding: 15rem;
  background-color: white;
  display: flex;
  gap: 10rem;
  align-items: center;
  /* Optional spacing and alignment: */
  justify-content: space-between; /* You can adjust this as needed */
}

.about #product-launch {
  position: relative;
  width: 50rem;
  height: 30rem;
  left: 40px;
}

.about-text{
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black; /* 글자 색상을 검은색으로 변경 */
}

.about h2 { 
  font-size: 3rem;
  font-family: abster;
}

.about p {
  font-size: 1.5rem;
}

.services {
  font-size: 2.2rem;
  font-family: abster;
  color: white;
  text-align: center;
  padding: 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));;
}

.offers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 15rem;
  margin-top: -2rem;
}

.offer_text {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(400px);
  transition: opacity 1.5s, transform 1.5s;
}

.services #adcore_db{
  position: relative;
  width: 60rem;
  aspect-ratio: 5/4;
  right: 60px;
}

#adcore_db {
  opacity: 0; /* Start with opacity set to 0 */
  transform: translateX(-400px); /* Start off-screen to the left */
  transition: opacity 1.5s, transform 1.5s; /* Add a transition effect for smooth animation */
}


.services .offers .offer_text {
  text-align: left;
}

.services .offers .offer_text p {
  margin-left: 0;
}

.services h3 {
  font-family: abster;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.services p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.services .offers .offer_text ul {
  list-style: none;
  padding-right: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.services .offers .offer_text ul li {
  line-height: 1.3rem;
  margin-bottom: 0.75rem;
}

.offers2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin-left: 15rem;
  margin-bottom: 3rem;
}

.offers2 #data_mkt{
  position: relative;
  right: 70px;
  width: 50rem;
  aspect-ratio: 8/5;
  margin-left: 6rem;
  transform: translateX(-400px); /* Start off-screen to the left */
  transition: opacity 1.5s, transform 1.5s;
}

.offers2_text {
  position: relative;
  text-align: left;
  right: 50px;
  transform: translateX(400px);
  transition: opacity 1.5s, transform 1.5s;
}


.offers2_text h3{
  text-transform: uppercase;
  font-family: abster;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.offers2_text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.offers2_text ul{
  list-style: none;
  padding-right: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.offers2_text ul li {
  line-height: 1.3rem;
  margin-bottom: 0.75rem;
}

.contact {
  background-color: white;
  margin-top: 5rem;
  margin-bottom: 0;
}

.contact h2 {
  text-align: center;
  font-size: 3rem;
  font-family: abster;
  padding: 1rem;
}

.contact p{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 7rem;
  width: 70rem;
}

.form input,
.form textarea {
  width: 53.7rem;
  padding: 2rem;
  margin: 1rem 0;
  display: flex;
  border-radius: 1rem;
  border-color: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form button {
  padding: 10px;
  border-radius: 5px;
  width: 12rem;
  font-size: 2rem;
  border: 0;
  outline: none;
  margin-top: 2rem;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));;
  color: white;
  font-family: abster;
  display: inline-block;
}

footer {
  height: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

